@import "./prose-fix.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 0;
}

.leaflet-pane,
.leaflet-control,
.leaflet-top,
.leaflet-bottom {
  z-index: 1;
}
